@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    src: local("Ubuntu Regular"), local("Ubuntu-Regular"),
        url("../fonts/Ubuntu-Regular.ttf") format("truetype");
}

body,
html {
    /* font-family: Lora, serif; */
    font-family: Ubuntu, sans-serif;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
}

/* Definission de couleur du site */
:root {
    --aa-primary: #008069;
    --aa-white: #fff;
    --aa-black: #000;
    --aa-red: #ff2600;
    --aa-orange: #ff6333;
    --aa-light-gray: #f2f3f5;
    --aa-dark: #052c65;
}

.header {
    overflow: hidden;
    background-color: var(--aa-primary);
    padding: 10px 5px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    /* position: relative; */
    z-index: 3;
}

.header a {
    float: left;
    color: var(--aa-white);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    margin-right: 1px;
    transition: 0.5s;
}

.detail {
    width: 27px;
    height: 27px;
}

.img-hamg {
    display: none;
}

.sous-accueil {
    display: none;
}

@media screen and (max-width: 785px) {
    .header-right {
        display: none;
    }

    .img-hamg {
        display: block;
        background-color: #333;
    }

    .img-hamg:hover {
        display: block;
        color: #000;
    }

    .auth {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .auth-container {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}

.navbar-submenu {
    /* overflow: hidden; */
    background-color: #333;
    position: relative;
    margin-top: 70px;
}

.navbar-submenu #myLinks {
    display: none;
}

.navbar-submenu a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    border: 1px solid var(--aa-white);
}

.navbar-submenu a:hover {
    color: white;
    background-color: var(--aa-primary);
}

.header a.logo {
    font-size: 18px;
    font-weight: bold;
}

.header a:hover {
    background-color: var(--aa-white);
    color: var(--aa-black);
    letter-spacing: 1px;
    font-weight: 700;
}

.header .active-login {
    background-color: var(--aa-orange);
    color: var(--aa-white);
}

.header a.active {
    background-color: var(--aa-white);
    color: var(--aa-black);
}

.header-right {
    float: right;
    margin-right: 10px;
}

/*Image accueil fixe*/
.hero-image {
    margin-top: 70px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/study-group-african-people.jpg");
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* margin-bottom: 10px; */
}

.hero-image a {
    font-weight: 600;
}

.hero-image a:hover {
    letter-spacing: normal !important;
    text-decoration: solid !important;
    background-color: var(--aa-orange);
    border: 1px solid var(--aa-white);
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--aa-white);
}

/*Bouton Top*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--aa-primary);
    color: var(--aa-white);
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#myBtn:hover {
    cursor: pointer;
}

.icon-navigation {
    /* padding-top: 5px; */
    height: 18px;
    width: 18px;
}

.icon-navigation:hover {
    color: var(--aa-black);
}

.main {
    margin-top: 69px;
}

.about {
    padding: 20px;
    background-color: var(--aa-white);
    /* box-shadow: 0px 0px 2px 2px var(--aa-light-gray); */
}

.title-about {
    text-align: center;
    font-size: 40px;
    color: var(--aa-primary);
    font-weight: 900;
}

.indent {
    margin-left: 50px;
}

.description-about {
    font-size: 25px;
    font-weight: lighter;
    font-weight: 100;
}

/*Inscriptions*/
* {
    box-sizing: border-box;
}

.container {
    padding: 16px;
    /* margin-top: 20px; */
}

/* .container-regsiter { */
/* text-align: center; */
/* } */

.title-register {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
}

.title-register-btn {
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

.mot-de-passe-oublier {
    display: flex;
    justify-content: end;
}

.form-regsiter {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid var(--aa-light-gray); */
    justify-content: center;
    width: 700px;
    margin: auto;
    /* margin-left: 360px; */
    align-items: center;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    box-sizing: border-box;
}

@media screen and (max-width: 719px) {
    .form-regsiter {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        /* border: 1px solid var(--aa-light-gray); */
        justify-content: center;
        width: auto;
        margin: 10px;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
        border-radius: 20px;
        height: auto;
    }
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid var(--aa-primary);
    background-color: var(--aa-white);
    border-radius: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    background-color: var(--aa-light-gray);
    outline: none;
    border: 1px solid var(--aa-primary);
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 20px;
}

.hr-trait {
    border: 1px solid #d3d3d3 !important;
    /* margin-bottom: 25px; */
}

.registerbtn {
    background-color: var(--aa-primary);
    color: var(--aa-white);
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 5px;
    transition: 0.5s;
}

.registerbtn:hover {
    letter-spacing: 1px;
    font-weight: 700;
}

.registerbtn-delegue {
    background-color: var(--aa-primary);
    color: var(--aa-white);
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
    opacity: 0.9;
    border-radius: 5px;
    transition: 0.5s;
}

.registerbtn-delegue:hover {
    letter-spacing: 2px;
}

.registerbtn:hover {
    opacity: 1;
}

a {
    color: dodgerblue;
}

.signin {
    /* background-color: #f1f1f1; */
    text-align: center;
}

.form-login {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid var(--aa-light-gray); */
    justify-content: center;
    width: 450px;
    margin: auto;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    height: 100%;
    box-sizing: border-box;
}

@media screen and (max-width: 470px) {
    .form-login {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        /* border: 1px solid var(--aa-light-gray); */
        justify-content: center;
        width: auto;
        margin: 10px;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
        border-radius: 20px;
        height: auto;
    }
}

.section-about {
    /* background-color: var(--aa-light-gray); */
    margin-bottom: 12px;
}

.description-about {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
    background-color: var(--aa-white);
    padding: 12px;
    font-size: 20px;
    margin: 0 5px;
    margin-bottom: 5px;
    border-radius: 15px;
    text-justify: newspaper;
}

.description-about:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    transition: 1s;
}

.section-fonctionnement {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: var(--aa-light-gray);
}

.container-infos {
    margin: 0 5px;
    display: flex;
    flex-direction: row;
}

.title-fonctionement {
    font-size: 20px;
}

.detail-fonctionement {
    background-color: var(--aa-white);
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 17px;
}

.detail-fonctionement:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    transition: 0.3s;
}

@media screen and (max-width: 1160px) {
    .container-infos {
        display: -webkit-box;
        flex-wrap: wrap;
    }

    .title-fonctionement {
        text-align: center;
    }
}

.section-avantage {
    padding-top: 12px;
    background-color: var(--aa-white);
}

.container-avantage {
    margin: 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

@media screen and (max-width: 473px) {
    .container-avantage {
        display: flex;
        flex-direction: column;
    }
}

.title-avantage {
    margin-left: 22px;
    font-size: 20px;
}

.detail-avantage {
    padding: 10px;
}

.container-avantage-li {
    margin-left: 0px;
}

.footer {
    /* position: fixed; */
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--aa-primary);
    color: white;
    text-align: center;
    margin-bottom: 0;
}

.footer p {
    padding-top: 20px;
}

/*Partie Privé/Partie d'administratiion*/

.sidebar {
    margin-top: 69px;
    padding: 0;
    width: 230px;
    background-color: var(--aa-primary);
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.sidebar a {
    display: block;
    color: var(--aa-white);
    padding: 16px;
    text-decoration: none;
}

.dropdown-btn {
    display: block;
    /* color: var(--aa-white); */
    padding: 16px;
    text-decoration: none;
    /* background-color: #008069; */

    outline: none;
}

.dropdown-container {
    display: none;
    /* background-color: #262626; */
    padding-left: 8px;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/* Activation du lien courant*/
.sidebar a.active {
    border: 1px solid var(--aa-white);
    color: white;
    box-sizing: border-box;
    transition: 0.5s;
}

.sidebar a:hover:not(.active) {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    font-weight: 6x00;
}

div.content {
    margin-left: 230px;
    padding: 79px 16px;
    height: 100%;
    margin-bottom: 0px;
    background-color: var(--aa-white);
    box-sizing: border-box;
}

@media screen and (max-width: 700px) {
    .sidebar {
        display: none;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

.title-header {
    margin-top: 10px;
}

.accordon-container {
    margin-top: 30px;
}

/*Page contact d'administrateur*/

.input-contact {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid var(--aa-primary);
    background: var(--aa-white);
    border-radius: 5px;
    height: 100%;
}
.cnt {
    display: flex;
    justify-content: center;
}
.submit-contact {
    background-color: var(--aa-primary);
    color: var(--aa-white);
    width: 200px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.submit-contact-accueil {
    background-color: var(--aa-primary);
    color: var(--aa-white);
    width: 250px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.submit-contact:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    letter-spacing: 2px;
}

textarea {
    width: 100%;
    padding: 12px;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}

.container-content {
    height: 100%;
    width: 100% !important;
}

.container-formulaire-contact {
    height: auto;
    margin: auto;
    width: 100%;
    padding: 20px;
    border-radius: 12px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}

/*Profil*/
.profil-content {
    margin: auto;
}
.profil-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px !important;
}

@media screen and (max-width: 1160px) {
    .profil-container {
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        gap: 20px;
    }

    .content-profil-image {
        width: 100%;
        margin: auto;
    }

    .profil-content {
        width: 80% !important;
    }

    .image-profil {
        height: auto !important;
        border-radius: 12px;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    }
}

.profil-content {
    padding: 20px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 12px;
}
@media screen and (max-width: 1160px) {
    .profil-content {
        width: 100% !important;
        margin-bottom: 40px !important;
    }
}

.content-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.image-profil {
    height: 300px;
    border-radius: 12px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.content-profil-image {
    display: flex;
    flex-direction: column;
}

.options-content {
    display: flex;
    flex-direction: column;
}

.options-content a {
    text-decoration: none;
    color: var(--aa-white);
    transition: 0.5s;
}

.options-content a:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
    letter-spacing: 1px;
}

.edit-account-buttom {
    background-color: var(--aa-primary);
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.edit-password-buttom {
    background-color: #ff712a;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.edit-image-buttom {
    background-color: #777;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.edit-email-buttom {
    background-color: #000000ca;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.delete-account-buttom {
    background-color: #e3423d;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.edit-account-buttom:hover,
.edit-password-buttom:hover,
.edit-image-buttom:hover,
.delete-account-buttom :hover,
.edit-email-buttom:hover {
    background-color: var(--aa-orange) !important;
}

.first-profil {
    font-weight: 300;
    font-size: 17px;
}

.seccond-profil {
    font-style: italic;
    font-size: 17px;
}

.container-formulaire-profil {
    /* background-color: var(--aa-light-gray); */
    width: 100%;
    margin: auto;
    padding: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    flex-direction: row;
    border-radius: 12px;
}

.container-formulaire-card {
    /* background-color: var(--aa-light-gray); */
    width: 100%;
    padding: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    flex-direction: row;
    border-radius: 5px;
    margin-bottom: 50px !important;
}

.content-edit-profil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-edit-profil {
    margin: 5px;
}

.input-profil-edit {
    width: 100px;
}

.cnt-profil {
    display: flex;
    justify-content: center;
}

.submit-profil {
    background-color: var(--aa-primary);
    color: var(--aa-white);
    border-radius: 12px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px 25px;
    transition: 0.6s;
}

.submit-profil:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    letter-spacing: 1px;
    font-weight: 700;
}

@media screen and (max-width: 1205px) {
    .content-edit-profil {
        display: flex;
        flex-direction: column;
    }
}
/*Profil Fin*/

/*Page Edition image*/

.container-formulaire-file {
    /* height: 80%; */
    margin: auto;
    width: 50%;
    border: 1px solid var(--aa-primary);
    padding: 10px;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container-formulaire-file-parametre {
    /* height: 80%; */
    margin: auto;
    width: 50%;
    border: 1px solid var(--aa-primary);
    padding: 10px;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1018px) {
    .container-formulaire-file {
        width: 100%;
        margin-bottom: 40px !important;
    }

    .container-formulaire-file-parametre{
        width: 100% !important;
    }
}

@media screen and (max-width: 800px) {
    .container-formulaire-file {
        margin: auto;
        width: 100%;
        border: 1px solid var(--aa-primary);
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
}

.content-edit-file {
    display: flex;
    flex-direction: column;
}

.container-edit-file {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.input-file-edit {
    border: 1px solid var(--aa-primary);
    padding: 10px;
    border-radius: 12px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    width: 100%;
    margin-bottom: 10px;
}

.cnt-file {
    display: flex;
    justify-content: center;
}

.submit-file {
    background-color: var(--aa-primary);
    color: var(--aa-white);
    border-radius: 12px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px 25px;
    transition: 0.6s;
}

.submit-file:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    letter-spacing: 1px;
    font-weight: 700;
}

.image-profil-file {
    height: auto;
    border-radius: 12px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    margin-bottom: 10px;
}
/*Fin Page Edition image*/

/*Page a propos*/

.propos {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text-apropos {
    height: auto;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 12px;
}

.text-apropos-span {
    margin: auto;
    border-radius: 12px;
    font-size: 20px;
    padding: 20px;
}

.container-contenu-propos {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    padding: 12px;
    transition: 0.5s;
    margin-top: 10px;
}

.container-contenu-propos:hover {
    padding: 14px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
}
/*Fin Page a propos*/

/*Tableau contenu */

.table-container-elements {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.btn-cool {
    background-color: var(--aa-primary) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    transition: 0.5s !important;
    border: none !important;
}

.btn-cool-2 {
    background-color: var(--aa-orange) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    transition: 0.5s !important;
    border: none !important;
}

.btn-cool-delete {
    background-color: var(--aa-red) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    transition: 0.5s !important;
    border: none !important;
}

.btn-cool:hover, .btn-cool-2:hover {
    /* letter-spacing: 1px; */
    background-color: var(--aa-orange) !important;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}

.text-images-plus {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background: var(--aa-primary);
    border-radius: 12px;
    padding: 7px;
}

.text-images-plus-delete {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background: #e3423d !important;
    border-radius: 12px;
    padding: 7px;
}
.text-images-plus-text {
    color: var(--aa-white);
    transition: 0.5s !important;
}

.text-images-plus-text:hover {
    color: var(--aa-white);
    letter-spacing: 2px;
}

.contenair-images-detail {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
    border-radius: 12px;
}

.a-content-option {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.form-select-auth {
    margin-top: 3px;
    width: 100%;
    padding: 15px;
    border: 1px solid var(--aa-primary);
    border-radius: 5px;
}

.container-options-inscription {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.link-option-inscription-etudiant {
    background-color: var(--aa-primary);
    color: var(--aa-white);
    /* padding: 20px; */
    padding-left: 30px;
    padding-right: 30px;
    padding: 15px 70px 15px 70px;
    text-align: center;
    border: none;
    border-radius: 12px;
    transition: 0.5s;
    text-decoration: none;
}

.link-option-inscription-delegue {
    background-color: var(--aa-orange);
    color: var(--aa-white);
    /* padding: 20px; */
    padding-left: 30px;
    padding-right: 30px;
    padding: 15px 70px 15px 70px;
    text-align: center;
    border: none;
    border-radius: 12px;
    transition: 0.5s;
    text-decoration: none;
}

.link-option-inscription-etudiant:hover {
    letter-spacing: 2px;
}

.link-option-inscription-delegue:hover {
    letter-spacing: 2px;
}

@media screen and (max-width: 438px) {
    .container-options-inscription {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 10px;
    }
}

.delegue-container-formulaire {
    display: flex;
    flex-direction: row;
    margin: 0px 100px;
    gap: 20px;
}
/*Fin Tableau*/

/*Dashbord debut de gestion*/

.card-dashbord {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

.card-dashbord:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}

.card-container-graphe-all {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

.card-container-graphe-all:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 01);
}

.card-details-elements {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

.card-details-elements:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}

.container-graphe-dashbord {
    display: flex;
    justify-content: space-between;
}

.btn-graphe-admindashbord {
    background-color: var(--aa-primary);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 12px;
    color: var(--aa-white);
    text-decoration: none;
    transition: 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.btn-graphe-admindashbord:hover {
    letter-spacing: 2px;
    font-weight: 700;
}

@media screen and (max-width: 488px) {
    .container-graphe-dashbord {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .btn-graphe-admindashbord {
        text-align: center;
    }
}
/*Fin dashbord gestion*/

/*Debut page d'erreur*/
.container-content-other-page {
    display: flex;
    justify-content: center;
}

.container-page-other {
    background-color: var(--aa-light-gray);
    padding: 20px;
    margin: 50px 0;
    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

.title-page-other {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

.page-container-other {
    font-size: 150px;
    color: var(--aa-primary);
}

.retour-page-accueil {
    text-align: center;
}
/*Fin page d'erreur*/

/*Debut header responsive*/
/* The side navigation menu */
.sidenav {
    margin-top: 69px;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: var(--aa-orange);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
/*Fin header responsive*/

/*Email modification*/
.bon-a-savoir-email {
    /* padding: 12px; */
    margin: 20px 0px;
    font-weight: 200;
    font-size: 12px;
    color: var(--aa-red);
}
/*FinEmail modification*/

/*Etudiant ajout dashbord*/
.list-fichiers {
    margin-bottom: 50px !important;
    display: flex;
    background-color: #ddd !important;
    justify-content: space-between;
    gap: 10px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

.delegue-detail-liste-etudiant {
    margin-bottom: 50px !important;
    display: flex;
    background-color: #ddd !important;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

.list-fichiers a,
.delegue-detail-liste-etudiant a {
    text-decoration: none;
}

.detail-liste-nos-delegue-dashbord {
    display: flex;
    justify-content: start;
    background-color: var(--aa-dark);
    padding: 5px 40px;
    width: 100%;
    color: var(--aa-white);
    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    transition: 0.5s;
    gap: 5px;
}

.delegues-tile-container-2 {
    gap: 10px;
    display: flex;
    justify-content: end;
}

.detail-liste-profil-dashbord {
    display: flex;
    justify-content: start;
    background-color: var(--aa-primary);
    padding: 5px 40px;
    width: 100%;
    color: var(--aa-white);
    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    transition: 0.5s;
    gap: 5px;
}

.detail-liste-delegue-detail {
    display: flex;
    justify-content: start;
    background-color: var(--aa-primary);
    padding: 5px 40px;
    width: 100%;
    color: var(--aa-white);
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    transition: 0.5s;
    gap: 5px;
}

.detail-liste-aide-dashbord {
    display: flex;
    justify-content: start;
    background-color: #dc3545;
    padding: 5px 40px;
    width: 100%;
    color: var(--aa-white);
    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    transition: 0.5s;
    gap: 5px;
}

.detail-liste-notification-dashbord {
    display: flex;
    justify-content: start;
    background-color: #6c757d;
    padding: 5px 40px;
    width: 100%;
    color: var(--aa-white);
    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    transition: 0.5s;
    gap: 5px;
}

.detail-liste-delegue-licence-detail {
    display: flex;
    justify-content: start;
    background-color: #6c757d;
    padding: 5px 40px;
    width: 100%;
    color: var(--aa-white);
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    transition: 0.5s;
    gap: 5px;
    /* cursor: default; */
}

.detail-liste-delegue-licence-detail a:hover {
    /* cursor: default; */
}

.ajout-delegue-association {
    text-decoration: none;
    font-size: 18px;
    background-color: var(--aa-primary);
    color: white;
    border-radius: 12px;
    padding: 6px;
    transition: 0.5s;
    padding: 5px 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

.ajout-delegue-association:hover {
    background-color: var(--aa-orange);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}

.detail-liste-fichier-dashbord {
    display: flex;
    justify-content: start;
    background-color: #0d6efd;
    padding: 5px 40px;
    width: 100%;
    color: var(--aa-white);
    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    transition: 0.5s;
    gap: 5px;
}

.detail-liste-autre-dashbord {
    display: flex;
    justify-content: space-between;
    /* padding: 5px 40px; */
    width: 100%;
    color: var(--aa-white) !important;
    border-radius: 5px;
    transition: 0.5s;
    gap: 5px;
}

.a-liste-fichier {
    background-color: #000;
    background-color: var(--aa-primary);
    padding: 5px;
    border-radius: 5px;
    padding: 5px 40px;
    transition: 0.5s;
}

.detail-liste-fichier-dashbord:hover,
.detail-liste-profil-dashbord:hover,
.detail-liste-nos-delegue-dashbord:hover,
.detail-liste-aide-dashbord:hover,
.detail-liste-notification-dashbord:hover,
.a-liste-fichier:hover,
.detail-liste-delegue-detail:hover {
    background-color: var(--aa-orange);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}

.title-liste-fichier {
    margin-top: 50px !important;
    text-align: center;
    font-size: 24px;
    font-weight: 400 !important;
    text-decoration: underline;
}

@media screen and (max-width: 2110px) {
    .list-fichiers,
    .delegue-detail-liste-etudiant {
        display: flex;
        flex-direction: column;
        gap: 12px;
        background-color: #f2f3f5 !important;
    }
}

.modal-footer {
    display: flex !important;
    justify-content: end !important;
}

/*FinEtudiant ajout dashbord*/

/*Autre*/
@media screen and (max-width: 1300px) {
    /* .delegues-tile-container-2 {
        display: flex !important;
        flex-direction: column !important;
        gap: 10px;
    } */
}

.parametre-delegue-detail {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    gap: 10px;
    height: auto;
    /* padding: 5px 0; */
}

.parametre-npm_delegue {
    background-color: var(--aa-primary);
    border-radius: 5px;
    padding: 12px;
    color: var(--aa-white);
    height: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

.parametre-npm_delegue-action {
    color: var(--aa-white);
    padding: 12px;
    background-color: var(--aa-orange);
    border-radius: 5px;
    height: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

.parametre-npm_delegue-action:hover {
    background-color: var(--aa-dark);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}

.delegues-parametre-container-2{
    gap:15px;
    margin-top: 20px;
}

.option-detail-liste-container{
    display: flex;
    justify-content: center;
     gap: 12px;
}
/*Fin autre*/
